@import '~normalize.css/normalize.css';
@import '~font-awesome/css/font-awesome.css';

$font-weight: 400 !default;
$font-size-lg: 1.5em !default;
$font-size-md: 1.0em !default;
$font-size-sm: 0.8em !default;

$player-info-width-lg: 430px;
$player-info-width-md: 296px;

$player-time-width: 3.2em !default;
$player-time-height: 1.6em !default;
$player-title-color: #030303 !default;
$player-artist-color: #4a4a4a !default;
$player-time-color: #9b9b9b !default;
$player-volume-width: 50px !default;
$player-volume-height: 2px !default;
$player-volume-bg-color: #e5e5e5 !default;
$player-progress-bg-color: #dadada !default;
$player-progress-height: 1px !default;
$player-control-width: 240px !default;
$player-control-font-size: 1.8em !default;
$player-cover-width: 240px !default;
$player-cover-height: $player-cover-width;

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,PingFang SC,Source Han Sans CN,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%row {
  display: flex;
}

%col {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.icon {
  cursor: pointer;
}

.player-container {
  flex-wrap: wrap-reverse;
  justify-content: center;
  @extend %row;

  .info-and-control {
    width: 100%;
    @extend %col;

    .music-info {
      text-align: center;

      .title, .artist {
        font-weight: $font-weight;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .title {
        margin-bottom: 0;
        color: $player-title-color;
        font-size: $font-size-lg;
      }

      .artist {
        color: $player-artist-color;
        font-size: $font-size-md;
      }
    }

    .time-and-volume {
      height: $player-time-height;
      line-height: $player-time-height;
      color: $player-time-color;
      font-size: $font-size-sm;
      @extend %row;

      .left-time {
        width: $player-time-width;
        margin-right: 10px;
        text-align: left;
        font-weight: $font-weight;
      }

      .volume-container {
        @extend .hide;

        .volume-icon i {
          color: $player-time-color;
        }

        .volume-wrapper {
          width: $player-volume-width;
          padding-left: 2px;
          opacity: 0;
          transition: opacity .5s linear;

          .progress-container {
            height: $player-volume-height;
            margin-top: calc(0.8em - 1px);
            background-color: $player-volume-bg-color;

            .progress {
              height: $player-volume-height;
              background-color: $player-time-color;
            }
          }
        }

        &:hover .volume-wrapper {
          opacity: 1;
        }
      }
    }

    .progress-container {
      width: 100%;
      height: 3px;
      background-color: $player-progress-bg-color;
      cursor: pointer;

      .progress {
        height: 100%;
      }
    }

    .control-container {
      position: relative;
      width: 100%;
      margin-top: 1.3em;
      justify-content: center;
      font-size: $player-control-font-size;
      @extend %row;

      .mode-control {
        position: absolute;
        left: 0;
        @extend %row;
      }

      .controls {
        width: $player-control-width;
        justify-content: space-around;
        @extend %row;
      }
    }
  }

  .cover-container {
    width: $player-cover-width;
    height: $player-cover-height;
    overflow: hidden;

    .cover {
      width: $player-cover-width;
      height: $player-cover-height;
      border-radius: 50%;
      background-size: cover;
    }
  }
}

@media (min-width: 576px) {
  .player-container {

    .info-and-control {
      width: $player-info-width-md;

      .music-info {
        text-align: start;
      }

      .time-and-volume {
        .volume-container {
          display: flex;
        }
      }

      .progress-container {
        height: $player-progress-height;

        .progress {
          height: 100%;
        }
      }

      .control-container {
        justify-content: space-between;

        .mode-control {
          position: relative;
        }

        .controls {
          width: $player-control-width / 2;
          justify-content: space-between;
        }
      }
    }

    .cover-container {
      margin-left: 40px;
    }
  }
}

@media (min-width: 768px) {
  .player-container {

    .info-and-control {
      width: $player-info-width-lg;
    }
  }
}
